;; shadow-cljs configuration
{:deps true
 :nrepl
 {:port 3333}


 :dev-http
 {8000 ["out/browser_tests"]}

 :builds
 {:storybook
  {:target :esm-files
   :output-dir "sb/stories/cljs"}

  :ui
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn app.core/init}}
   :devtools {:http-root "public"
              :http-port 3000
              :before-load app.core/stop!
              :after-load app.core/start!
              :preloads [devtools.preload]}}

  :unit-tests
  {:target :node-test
   :output-to "out/unit_tests.js"}

  :browser-tests
  {:target :browser-test
   :test-dir "out/browser_tests"}}}
