;; shadow-cljs configuration
{:deps true
 :nrepl
 {:port 3333}


 :dev-http
 {8000 ["out/browser_tests"]}

 :builds
 {:storybook
  {:target :esm-files
   :output-dir "sb/stories/cljs"}

  :app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn app.core/init}}
   :devtools {:http-root "public"
              :http-port 8008
              :before-load app.core/stop!
              :after-load app.core/start!
              :preloads [devtools.preload]}
   :release {:output-dir "release/public/js"
             :closure-defines {app.ui/api-url #shadow/env "PROD_API_URL"}}}

  :server
  {:target :node-script
   :output-to "out/server.js"
   :main server.core/main
   :devtools
   {:watch-dir "public"}
   :release {:output-to "release/server.js"
             :closure-defines {server.config/base-url "https://btc-expo.mad.is"
                               server.config/uploads-root-url "https://btc-expo.mad.is/uploads"}}}

  :server-tests
  {:target :node-test
   :ns-regexp "server-tests.*"
   :output-to "out/server_tests.js"}

  :browser-tests
  {:target :browser-test
   :ns-regexp "browser-tests.*"
   :test-dir "out/browser_tests"}}}
