@import "bulma/css/bulma";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.has-fixed-height {
  max-height: 300px; /* Set your desired fixed height */
  overflow-y: auto; /* Enable vertical scrollbar for overflow */
  margin: 0; /* Optional: Remove default margin */
  padding: 1rem; /* Optional: Match Bulma's padding style */
  background-color: #f5f5f5; /* Optional: Match Bulma's code block background */
  border-radius: 4px; /* Optional: Match Bulma's border radius */
}
/*
  @import "stories/button.css";
 * */

.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensures it stays on top */
  width: 300px; /* Adjust as needed */
}

.notification {
  transform: translateY(100px); /* Start off-screen (below) */
  opacity: 0; /* Start invisible */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.notification.is-visible {
  transform: translateY(0); /* Slide up to visible position */
  opacity: 1; /* Fully visible */
}
